.form {
  display: flex;
  width: 77%;
  margin: 0 auto;
  background-color: rgb(217, 145, 255);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
}
.form form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.title,
.amount,
.date {
  padding: 5px;
}
.btn {
  border: 2px solid white;
  font-size: large;
  border-radius: 8px;
  background-color: rgb(9, 9, 131);
  color: white;
  padding: 5px;
}
